body, .side-menu, #search {
    display:flex;
    flex-direction:column;
}

header {
    text-align: center;
    justify-content: center;
    background-color: #001a8d;
    background-image: linear-gradient(to right, #00d3a9, #001a8d, #001a8d);
    color: white;
    
}

main {
    display:flex;
    flex-direction:row;
}

h1, h3 {
    margin-block-start: 0;
    margin-block-end: 0;
}

h1 {
    font-family: verdana, sans-serif;
    font-weight: normal;
}

h3 {
    font-size: 1.5em;
}

.side-menu {
    
    padding: 10px 20px;
} 

.weather-dashboard {
    padding: 10px 20px;
    width: 70%
}

.day-card {
    border: 2px solid black;
    width: 15%   
}
.day-card {
    background-color: #32428a;
    color: white;
    padding: 10px;
}
.card-date {
    font-size: 1.5em;
}

#forecast-title {
    padding-bottom: 10px ;
}

#search-history {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
}

#current-weather {
    display: none;
    border: black 2px solid;
    margin-bottom: 20px;
}

#five-day-forecast {
    display: none;
}

#wicon {
    display: inline;
}

#forecast-container {
    display: flex;
    justify-content: space-between;
}